.DS_Store
.idea/

Evernote/
Evernote/*
Private/*

*.app/Icon*
*.app/Contents/Info.plist
*.app/Contents/PkgInfo
*.app/Contents/MacOS/*
*.app/Contents/Resources/applet.icns
*.app/Contents/Resources/applet.rsrc
*.app/Contents/Resources/description.rtfd
!*.app/Contents/Resources/Scripts/main.scpt

_unused/*.app/Icon*
_unused/*.app/Contents/Info.plist
_unused/*.app/Contents/PkgInfo
_unused/*.app/Contents/MacOS/*
_unused/*.app/Contents/Resources/applet.icns
_unused/*.app/Contents/Resources/applet.rsrc
_unused/*.app/Contents/Resources/description.rtfd
!_unused/*.app/Contents/Resources/Scripts/main.scpt